<%= form_tag admin_comments_path, method: 'get', style: 'margin: 10px' do %>
  <%= label_tag(:product_name, "產品名稱:") %>
  <%= text_field_tag :search, params[:search], class: 'product-name' %>
  <%= submit_tag '搜尋', class: 'btn btn-s btn-blue inlineblock-imp' %>
<% end %>

<table class="admin-table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>產品</th>
      <th>評論</th>
      <th>星等</th>
      <th>時間</th>
      <th>姓名</th>
      <th>Action</th>
    </tr>

    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.product.product_infos.first.name %></td>
        <td><%= comment.context %></td>
        <td><%= comment.rating %></td>
        <td><%= comment.created_at %></td>
        <td><%= comment.name %></td>
        <td>
          <%= button_to "delete", {
            controller: :comments, action: 'destroy', id: comment.id },
            method: :delete, data: { confirm: 'Are you sure?' }, style: 'color:red;'
          %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<nav class="page-menu relative">
  <%= will_paginate(@comments, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
</nav>
