.price-show
  %p.scart-total-price-s.mg-b-10
    %span> #{t("cart.shipping_cost")}
    NT$#{shipping_cost}
  %p.scart-total-price-s.mg-b-10
    %span> #{t("cart.subtotal")}
    NT$#{sub_total}
  %p#ssss.scart-total-price.mg-b-40
    %span> #{t("cart.sum")}
    NT$#{sub_total.to_i + shipping_cost.to_i}