- if @coupon && @is_useable.is_valid && @coupon.discount_type == "free_shipping"
  .price-show
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.subtotal")}
      =" #{showed_price(sub_total.to_i)}"
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.coupon_code")}
      =" #{params[:code]}"
      %span.mg-l-10.color-red #{discount_text(@coupon,@is_useable.discount_sum)}
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.shipping_cost")}
      =" #{showed_price(0)}"
    %p.scart-total-price.mg-b-40
      %span.color-gray-333> #{t("cart.sum")}
      =" #{showed_price(calculate_total(sub_total.to_i, @coupon, @is_useable))}"

- elsif @coupon && @is_useable.is_valid
  .price-show
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.subtotal")}
      =" #{showed_price(sub_total.to_i)}"
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.coupon_code")}
      =" #{params[:code]}"
      %span.mg-l-10.color-red #{discount_text(@coupon,@is_useable.discount_sum)}
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.shipping_cost")}
      =" #{showed_price(shipping_cost)}"
    %p.scart-total-price.mg-b-40
      %span.color-gray-333> #{t("cart.sum")}
      =" #{showed_price(calculate_total(sub_total.to_i + shipping_cost, @coupon, @is_useable))}"

- else
  .price-show
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.subtotal")}
      =" #{showed_price(sub_total.to_i)}"
    %p.scart-total-price-s.mg-b-10
      %span.color-gray-333> #{t("cart.shipping_cost")}
      =" #{showed_price(shipping_cost)}"
    %p.scart-total-price.mg-b-40
      %span.color-gray-333> #{t("cart.sum")}
      =" #{showed_price(sub_total.to_i + shipping_cost.to_i)}"

