/ breadcrumbs
%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-20.mg-t-30.sidebar-point
    / rwd width limited
    .rwd-width-limited
      / sidebar and con
      .clearfix.sidebar-con
        / sd con
        .clearfix.sc-con
          / 
          = form_for @order, url: orders_path do |f|
            .member-sec.relative.mg-b-30.grid-800px
              %h2.title-line.inlineblock.mg-b-30 填寫寄送資訊
              .input-form
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      姓名
                  .input
                    = f.text_field :name, class: 'input-text mg-b-20', placeholder: "輸入姓名", value: @current_user.name
                    %p.note 請填寫真實姓名因超商取貨需核對證件
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      電話
                  .input
                    = f.text_field :phone, class: 'input-text mg-b-20', placeholder: "輸入電話", value: @current_user.phone
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      地址
                  .input
                    = f.text_field :shipping_address, class: 'input-text mg-b-20', placeholder: "輸入地址", value: @current_user.shipping_address
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      郵遞區號
                  .input
                    = f.text_field :zip_code, class: 'input-text mg-b-20', placeholder: "輸入郵遞區號", value: @current_user.zip_code
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      城市
                  .input
                    = f.text_field :city, class: 'input-text mg-b-20', placeholder: "輸入城市", value: @current_user.city
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      州
                  .input
                    = f.text_field :state, class: 'input-text mg-b-20', placeholder: "輸入州名", value: @current_user.state
                    %p.note 若無則填城市
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      國家
                  .input
                    = f.text_field :country, class: 'input-text mg-b-20', placeholder: "輸入國家", value: @current_user.country
                / one input
                / one input
                .one-input
                  .title
                    %p
                      %span.note> ＊
                      運送方式
                  .input
                    = f.select  :shipping_cost_id, @shippings_selector,{prompt: "選擇運送方式"}, {class: "nice-sel-wrap nice_select"}
                / one input
                / one input
                .one-input
                  .title
                    %p 意見
                  .input
                    = text_area_tag :memo, nil,class: "input-text input-textarea mg-b-20", :placeholder => "附註說明"
                / one input
            / 
            / line
            .gray-h-line.mg-b-40.grid-800px
            / line
            / 
            .member-sec.grid-800px.relative.mg-b-30
              %h2.title-line.inlineblock.mg-b-30 付款方式
              .clearfix.mg-b-30
                - if (["zh-TW","zh"].include?( params[:locale]))
                  .mg-b-20.clearfix
                    = f.radio_button :payment, "AllPay",checked: true, class: "pay-1 pay-radio"
                    %label.pay-text{:for => "pay-1"}
                      %img.pay-method-pic{:alt => "", :src => "https://www.allpay.com.tw/Content/Themes/WebStyle20131201/images/header_logo.png"}/
                  .mg-b-20.clearfix
                    = f.radio_button :payment, "PayPal", class: "pay-2 pay-radio"
                    %label.pay-text{:for => "pay-2"}
                      %img.pay-method-pic{:alt => "", :src => "https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif"}/
                -else
                  .mg-b-20.clearfix
                    = f.radio_button :payment, "PayPal",checked: true, class: "pay-2 pay-radio"
                    %label.pay-text{:for => "pay-2"}
                      %img.pay-method-pic{:alt => "", :src => "https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif"}/
                .mg-b-20.clearfix
                  = f.radio_button :payment, "transfer", class: "pay-3 pay-radio"
                  %label.pay-text{:for => "pay-3"} 銀行或 ATM 匯款（請於匯款後點選通知匯款以利盡快出貨）
                .mg-b-20.clearfix.pay_when_shipped{:style => "display: none;"}
                  = f.radio_button :payment, t('cart.pay_when_shipped'), class: "pay-4 pay-radio"
                  %label.pay-text{:for => "pay-4"} #{t('cart.pay_when_shipped')}
            / 
            / line
            .gray-h-line.mg-b-40.grid-800px
            / line
            / 
            .member-sec.grid-800px.relative.mg-b-30
              %h2.title-line.inlineblock.mg-b-30 訂單明細
              .clearfix.mg-b-30
                - @cart_items.each_with_index do |item, i|
                  .one-scart.clearfix
                    .pic
                      = image_tag @cart_products[i].thumb.pic_url, :itemprop => "image", :class => "v-centerimg"
                    .os-rwd-float
                      .info
                        %h3.product-name= @cart_products[i].name
                        %p.product-color
                          黑
                          %span.product-color-hex{:style => "background:#000;"}
                        %p.product-price= showed_price(item.price)
                      .qty
                        %p.per-qty 數量：#{item.quantity}
                        %p.per-price 小計：#{showed_price(item.price * item.quantity)}
                      .btn-sec
                        = button_to remove_cart_item_cart_index_path(item_id: item.id), class: "btn-line btn-line-blue" do
                          刪除
                          %i.fa.fa-trash-o.mg-l-10{"aria-hidden" => "true"}
              .tright
                %p.scart-total-price-s.mg-b-10
                  %span> 運費
                  NT$100
                %p.scart-total-price-s.mg-b-10
                  %span> 小計
                  #{showed_price(sum_cart_items_price @cart_items)}
                %p.scart-total-price.mg-b-40
                  %span> 總計
                  #{showed_price(sum_cart_items_price @cart_items)}
                .scart-submit
                  = f.hidden_field :sub_total, value: sum_cart_items_price(@cart_items)
                  = f.hidden_field :item_num, value: @cart_items.size
                  = hidden_field_tag :locale, params[:locale]
                  = button_tag(type: 'submit', class: "btn-l btn-blue inlineblock-imp", data: { confirm: t('cart.confirm_message')}, :hov => "0.75") do
                    確認訂購
                    %i.fa.fa-chevron-right.mg-l-20{"aria-hidden" => "true"}
          / 
        / sd con
      / sidebar and con
    / rwd width limited
  / full width block
/ end main
