.breadcrumbs
  .form-style-5
    = form_for banner, url: url,:html => {multipart: true} do |f|
      = image_tag(banner.pic_url, :style => 'max-height: 400px; max-width:400px;') unless banner.pic_url.nil?
      %h3.text-16.lh-24.bold 上傳圖片
      = f.file_field :pic, :class => "span7", label: "上傳圖片"
      %h3.text-16.lh-24.bold 連結
      = f.text_field :link, :class => "span7", label: "連結"
      %h3.text-16.lh-24.bold 排序(數字越大，排序越前面)
      = f.text_field :sort, :class => "span7", label: "排序(數字越大，排序越前面)"
      %br
      .offset2
        = f.submit "確定"
        = link_to "返回", admin_banners_path, class: "btn"
        - unless banner.new_record?
          = link_to "刪除", admin_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"