.breadcrumbs
  .form-style-5
    = form_for news, url: url,:html => {multipart: true} do |f|
      %h3.text-16.lh-24.bold 標題
      = f.text_field :title, label: "標題",:class => "span7"
      %h3.text-16.lh-24.bold 發表日期
      = f.date_select :release_date, label: "發表日期", :class => "span7"
      .offset2
        = image_tag(news.pic_url, :style => 'max-height: 400px; max-width:400px;') unless news.pic_url.nil?
      %h3.text-16.lh-24.bold 上傳圖片(圖片建議大小:570x355)
      = f.file_field :pic, :class => "span7", label: "上傳圖片(圖片建議大小:570x355)"
      %h3.text-16.lh-24.bold 內容
      = f.cktext_area :content, :class => "someclass", :ckeditor => {:language => "en"}
      %h3.text-16.lh-24.bold 排序(En)
      = f.text_field :sort_en, label: "排序(En)"
      %h3.text-16.lh-24.bold 排序
      = f.text_field :sort, label: "排序"
      .offset2
        %h3.text-16.lh-24.bold TW Show? 
        = f.check_box :is_tw, :inline => true, label: "TW?"
        %h3.text-16.lh-24.bold EN Show?
        = f.check_box :is_en, :inline => true, label: "EN?"
      - tags.each do |tag|
        = tag.id
        = "#{tag.name}(#{tag.name_en})"
      %h3.text-16.lh-24.bold (填tag的代號,用","隔開　ex: 1,3)?
      = text_field_tag :news_tag, news.tags.map(&:id).join(",")
      .offset2
        = f.submit "確定"
        = link_to "返回", admin_news_index_path, class: "btn"
        - unless news.new_record?
          = link_to "刪除", admin_news_path(news), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"