.menu-container
  .menu
    %ul.layer-1-ul
      %li.layer-1-li
        = link_to_menu admin_users_path, "Members"
      %li.layer-1-li
        = link_to_menu admin_orders_path, "Orders"
      %li.layer-1-li
        = link_to_menu admin_products_path, "Products"
      %li.layer-1-li
        = link_to_menu admin_categories_path, "Categories"
      %li.layer-1-li
        = link_to_menu admin_shipping_costs_path, "Shipping"
      %li.layer-1-li
        = link_to_menu admin_news_index_path, "News"
      %li.layer-1-li
        = link_to_menu admin_news_tags_path, "News' Tags"
      %li.layer-1-li
        = link_to_menu admin_faqs_path, "FAQs"
      %li.layer-1-li
        = link_to_menu admin_banners_path, "Banner"
      %li.layer-1-li
        = link_to_menu admin_videos_path, "Videos"
      %li.layer-1-li
        = link_to_menu admin_announcements_path, "訊息"
.login-signup-container
  .login-signup
    %ul.layer-1-ul
      - if current_admin && current_admin.admin?
        %li.layer-1-li
          = link_to admin_logout_path, {class: "layer-1"} do
            %h2= 'Logout'