.menu-container
  .menu
    %ul.layer-1-ul
      %li.layer-1-li
        = link_to admin_users_path, {:class => "layer-1 menu-line"} do
          %h2= "Members"
      %li.layer-1-li
        = link_to admin_orders_path, {:class => "layer-1 menu-line"} do
          %h2= "Orders"
      %li.layer-1-li
        = link_to admin_products_path, {:class => "layer-1 menu-line"} do
          %h2= "Products"
      %li.layer-1-li
        = link_to admin_categories_path, {:class => "layer-1 menu-line"} do
          %h2= "Categories"
      %li.layer-1-li
        = link_to admin_shipping_costs_path, {:class => "layer-1 menu-line"} do
          %h2= "Shipping"
      %li.layer-1-li
        = link_to admin_news_index_path, {:class => "layer-1 menu-line"} do
          %h2= "News"
      %li.layer-1-li
        = link_to admin_news_tags_path, {:class => "layer-1 menu-line"} do
          %h2= "News' Tags"
      %li.layer-1-li
        = link_to admin_faqs_path, {:class => "layer-1 menu-line"} do
          %h2= "FAQs"
      %li.layer-1-li
        = link_to admin_banners_path, {:class => "layer-1 menu-line"} do
          %h2= "Banner"
      %li.layer-1-li
        = link_to admin_videos_path, {:class => "layer-1 menu-line"} do
          %h2= "Videos"
.login-signup-container
  .login-signup
    %ul.layer-1-ul
      - if current_admin && current_admin.admin?
        %li.layer-1-li
          = link_to admin_logout_path, {class: "layer-1"} do
            %h2= 'Logout'