= content_for :head do
  <meta name="description" content="#{t("index_description")}">
  <title>HANCHOR｜#{t("product.home")}</title>

/ visual
.flexslider.f_index{:style => "width:100%;overflow:hidden;margin-bottom:0;"}
  %ul.slides
    - @banners.each do |banner|
      %li.relative
        = link_to image_tag(banner.pic.thumb.url, :class => "v-centerimg"), banner.link, {class: "visual-link", :hov => "0.92"}
/ -visual
/ start main
.wrapper
  / full width block
  %section
    / rwd width limited
    .clearfix
      / index product classify
      - @base_categories.each_with_index do |category,index|
        = link_to products_index_path(category.name_en), class: "one-ipc grid-3-1" do
          .pic
            .cover
            = image_tag("index-pcover-#{index+1}.jpg", :class => "v-centerimg")
            %div{class: "info color-#{index+1} cenmid"}= category.locale(session[:locale])
      / index product classify
    / rwd width limited
  %section.bg-w.pd-v-50
    / rwd width limited
    .rwd-width-limited
      / title & tab
      .clearfix.index-tab.mg-b-40
        %h2.text-24.lh-40.color-gray-333.bold.left= t("recommend_products")
      / title & tab
      .clearfix.flex-sec
        / index recommend item
        - @products.each do |product|
          =link_to products_show_path(product.product_categories[0].name_en,product), { :class => "index-recommend-item flex-4",:hov => "0.8"} do
            .pic
              =(image_tag product.thumb.pic.thumb.url, :itemprop => "image", :class => "v-centerimg")
            .info
              %h3.name.text-14.lh-24.color-gray-333.bold= product.name
              %p.price.text-13.lh-20.color-main-lb= showed_price(product.price)
  %section.bg-gray-e9.pd-v-50
    / rwd width limited
    .rwd-width-limited
      / title & tab
      .clearfix.mg-b-40.index-tab
        %h2.text-24.lh-40.color-gray-333.bold.left= t("news.new_article")
        .tab.clearfix.right
          = link_to news_index_path, { :class => "btn btn-m btn-blue",:hov => "0.75"} do
            #{t("news.more_article")}
            %i.fa.fa-chevron-right.mg-l-7{"aria-hidden" => "true"}
      / title & tab
      .clearfix
        - @news.each do |news|
          = link_to news_path(news), {:class => "index-news grid-3-1",:hov => "0.8"} do
            .pic
              =(image_tag news.pic.thumb.url, :itemprop => "image", :class => "v-centerimg") 
            .info
              %h3.title.text-15.color-gray-ddd.lh-25.bold.mg-b-7= news.title
              %p.date.text-12.lh-20.color-main-lb.bold= display_date(news.release_date)
  %section.index-video-bg
    / rwd width limited
    .rwd-width-limited
      / video section top
      .index-video-top.pd-v-50.clearfix
        .grid-2
          .index-video-desc
            .mg-b-20
              = image_tag "index-video-logo.png"
            %p.text-15.lh-25.color-white.mg-b-25
              Hanchor 在 2012 年創立於台灣台北，始於 2010 年著手設計、手工製作戶外用品。品牌圖案呈現攀岩者沾滿白色碳酸鎂粉的手緊緊抓住岩塊；
            .mg-b-25
              = image_tag "index-video-slogan.png"
            %p.text-15.lh-25.color-white.mg-b-20
              結合兩項攀岩者與岩牆連結的重要元素，象徵穩固及堅持的精神。由攀岩概念出發的原創設計，採用高級環保材料，並致力於輕量化兼具堅固及功能性的街頭戶外風格。產品經過反覆測試與及親身使用，在乎你每一個感受；甚至提供客製的貼心服務，讓你擁有獨一無二的 HANCHOR。
        .grid-2
          .yt-bg
            .yt
              %iframe.yt-video{:allowfullscreen => "", :frameborder => "0", :src => "#{@video.youtube_embed_link}"}
      / video section top
    / rwd width limited
    / subscribe section
    .index-subs-bg
      / rwd width limited
      .rwd-width-limited
        %h2.text-20.color-white.bold.tcenter.lh-30.mg-b-30= t("subscribe.info")
        .tcenter
          = form_tag subscribe_path, remote: true do
            .inlineblock.subs-input-wrap
              = text_field_tag :email, nil, class: 'input-text-l input-text', :placeholder => t("placeholder.email")
            .inlineblock.subs-input-wrap
              %button.btn-l.btn-blue{:hov => "0.75"}
                #{t("subscribe.subscribe")}
                %i.fa.fa-chevron-right.mg-l-20{"aria-hidden" => "true"}

.white-popup.mfp-hide{id: "subscribe-success"}
  %h3.text-24.lh-40.color-gray-333.bold.mg-b-20= t("subscribe.success")
.white-popup.mfp-hide{id: "subscribe-fail"}
  %h3.text-24.lh-40.color-gray-333.bold.mg-b-20= t("subscribe.fail")
.white-popup.mfp-hide{id: "subscribed"}
  %h3.text-24.lh-40.color-gray-333.bold.mg-b-20= t("subscribe.subscribed")
:javascript
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
  };
  var tech = getUrlParameter('login');
  if (tech == "true") {
    alert("Login Success!")
  }
  var tech = getUrlParameter('register');
  if (tech == "true") {
    alert("Register Success!")
  }