= content_for :head do
  <meta name="description" content="#{t("qa_description")}">
  <title>HANCHOR｜#{t("faq.guide")}</title>
  
/ visual
.pages-visual
  = image_tag Banner.find(Banner::FAQ_BANNER_ID).pic_url, :class => "v-centerimg"
/ -visual
/ breadcrumbs
%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-20.mg-t-30.sidebar-point
    / rwd width limited
    .rwd-width-limited
      / sidebar and con
      .clearfix.sidebar-con
        = render 'contact_side'
        / sd con
        .clearfix.sc-con.grid-4-3
          / 
          .member-sec.relative.mg-b-30
            = @guide.context.html_safe
          / 
        / sd con