= content_for :head do
  <meta name="description" content="#{t("blog_description")}">
  <title>HANCHOR｜#{t("news_events")}</title>

/ visual
.pages-visual
  = image_tag Banner.find(Banner::BLOG_BANNER_ID).pic_url, :class => "v-centerimg"
/ -visual


%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-50
    / rwd width limited
    .rwd-width-limited.clearfix
      .gray-h-line.mg-b-30
      .tab.clearfix.mg-b-30
        .rwd-tab-cate
          - if @news_tag.present?
            %span.left #{t("category.category")}#{@news_tag.locale(params[:locale])}
          - else
            %span.left #{t("category.category")}#{t("category.all")}
          %span.right
            %i.fa.fa-angle-down.mg-l-10{"aria-hidden" => "true"}
        .rwd-tab-show.rwd-tab-show-fix
          = link_to_news [t("category.all"),0]
          - @tags_selector.each do |tag|
            = link_to_news tag
      .gray-h-line.mg-b-40
      .clearfix
        - @news.each do |news|
          = link_to news_path(news), {:class => "index-news grid-3-1",:hov => "0.8"} do
            .pic
              =(image_tag news.pic.thumb.url, :itemprop => "image", :class => "v-centerimg") 
            .info
              %h3.title.text-15.color-gray-ddd.lh-25.bold.mg-b-7= news.title
              %p.date.text-12.lh-20.color-main-lb.bold= display_date(news.release_date)
      / page select menu
      %nav.page-menu.relative
        = will_paginate(@news, :renderer => 'BootstrapPaginationHelper::LinkRenderer', :inner_window => 2, :outer_window => 0)
