= content_for :head do
  <meta name="description" content="#{t("blog_description")}">
  <title>HANCHOR｜#{t("news_events")}</title>

%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-50
    / rwd width limited
    .rwd-width-limited.clearfix
      .gray-h-line.mg-b-30
      .tab.clearfix.mg-b-30
        = link_to_news ["全部",0]
        - @tags_selector.each do |tag|
          = link_to_news tag
      .gray-h-line.mg-b-40
      .clearfix
        - @news.each do |news|
          = link_to news_path(news), {:class => "index-news grid-3-1",:hov => "0.8"} do
            .pic
              =(image_tag ("cave.png"), :itemprop => "image", :class => "v-centerimg lazyload","data-src" => news.pic.url)  
            .info
              %h3.title.text-15.color-gray-ddd.lh-25.bold.mg-b-7= news.title
              %p.date.text-12.lh-20.color-main-lb.bold= display_date(news.release_date)
      / page select menu
      %nav.page-menu.relative
        = will_paginate(@news, :renderer => 'BootstrapPaginationHelper::LinkRenderer')
