= link_to "Add New Discount", new_admin_discount_path, class: "btn btn-s btn-blue inlineblock-imp"

%table.admin-table
  %tr
    %th 編號
    %th 標題
    %th 折扣碼
    %th 折扣種類
    %th 折扣金額
    %th 折扣比例(percent off)
    %th 超過金額才有
    %th 起始日(UTC)
    %th 截止日(UTC)
    %th 現在有效

  - @discount_rules.each do |dr|
    %tr
      %td= dr.id
      %td= dr.title
      %td= dr.code
      %td= dr.discount_type
      %td
        - if dr.discount_money
          NT$#{dr.discount_money}
      %td
        - if dr.discount_percentage
          #{dr.discount_percentage}%
      %td= dr.threshold
      %td= display_date(dr.start_date) if dr.start_date
      %td= display_date(dr.end_date) if dr.end_date
      %td= dr.is_valid
      %td= link_to 'Edit', edit_admin_discount_path(dr)
      %td= link_to 'Stop', admin_discount_path(dr), method: :delete, data: { confirm: 'Are you sure?' }
