.breadcrumbs
  .form-section
    = form_for tag, url: url,:html => {multipart: true} do |f|
      %h3.text-16.lh-24.bold 中文
      = f.text_field :name, :class => "span7", label: "中文"
      %h3.text-16.lh-24.bold 英文
      = f.text_field :name_en, :class => "span7", label: "英文"
      %br
      .offset2
        = f.submit "確定"
        = link_to "返回", admin_news_tags_path, class: "btn"
        - unless tag.new_record?
          = link_to "刪除", admin_news_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"