.breadcrumbs
  .form-style-5
    = bootstrap_form_for product, url: url,:html => {multipart: true} do |f|
      %legend
        %span.number 1
        產品資料
      %h3.text-16.lh-24.bold 點擊次數:#{product.views}
      = f.text_field :sort,label: "排序"
      = f.text_field :no, label: "產品編號"
      = f.check_box :is_show_at_index, :inline => true, label: "首頁是否顯示"
      = f.select :product_category_id, category_selection,label: "分類"
      %h3.text-16.lh-24.bold 顏色
      = f.form_group :color do
        - if product.new_record?
          請先新增product，再修改
        - else
          = product.product_colors.not_deleted.map{ |c|  "#{c.color}/#{c.color_en}"}.join(" ")
          = link_to "修改or增加顏色", admin_product_product_colors_path(product), class: "btn-s btn-lblue inlineblock-imp"
      %h3.text-16.lh-24.bold 尺寸
      = f.form_group :size do
        - if product.new_record?
          請先新增product，再修改
        - else
          = product.product_sizes.not_deleted.map{ |c|  "#{c.size}/#{c.size_en}"}.join(" ")
          = link_to "修改or增加尺寸", admin_product_product_sizes_path(product), class: "btn-s btn-lblue inlineblock-imp"
      %h3.text-16.lh-24.bold 數量
      = f.form_group :quantity do
        - if product.new_record?
          請先新增product，再修改
        - else
          = product.product_quantities.map{ |c|  "#{c.product_color.color if c.product_color}/#{c.product_size.size if c.product_size}:#{c.quantity}"}.join("  ")
          = link_to "修改數量", admin_product_product_quantities_path(product), class: "btn-s btn-lblue inlineblock-imp"
      %h3.text-16.lh-24.bold 修改圖片
      = f.form_group :pic do
        - if product.new_record?
          請先新增product，再修改
        - else
          - product.product_pics.each do |pic|
            = image_tag(pic.pic_url(:thumb), :style => 'max-height: 200px; max-width: 200px;')
          %br
          = link_to "修改圖片", admin_product_product_pics_path(product), class: "btn-s btn-lblue inlineblock-imp"
      %br
      %legend
        %span.number 2
        推薦相關產品
      %h3.text-16.lh-24.bold 修改推薦產品
      .gallery
        %ul#recommends{"data-update-url" => sort_admin_product_product_recommends_path(@product)}
          = render :partial => "admin/product_recommends/product", :collection => @recommends, :as => :recommend
      - if product.new_record?
        請先新增product，再修改
      - else
        - product.recommends.map{|r| r.slug}.join(", ")
        %br
        = link_to "修改推薦產品", admin_product_product_recommends_path(product), class: "btn-s btn-lblue inlineblock-imp"
      %br
      %br
      %legend
        %span.number 3
        產品描述
      .tab.tab-sel.clearfix.right.mg-b-25
        %a.tab-btn.active{"data-tab" => "tab-1"} TW產品描述
        / active on this one
        %a.tab-btn{"data-tab" => "tab-2"} EN產品描述
      .tab-con
        .spec.tab-inner.tab-1.active.text-14.color-gray-333.lh-25
          = f.fields_for product.product_infos[0], :index => 0 do |builder|
            = builder.text_field :name
            = builder.text_field :weight
            = builder.text_field :material
            = builder.text_field :capacity
            = builder.label :quick_overview
            = builder.cktext_area :quick_overview, :class => "someclass", :ckeditor => {:language => "en"},value:  product.product_infos[0].quick_overview
            %br
            = builder.text_field :price
            = builder.text_field :special_price
            = builder.label :feature
            = builder.cktext_area :feature, :class => "someclass", :ckeditor => {:language => "en"},value:  product.product_infos[0].feature
            %br
            .offset2
              = builder.check_box :is_visible, :inline => true, label: "是否顯示"
            .offset2
              - @shipping_tw.each do |shipping|
                - if product.product_infos[0].shipping.include? shipping.id.to_s
                  = check_box_tag "shipping[tw][]", shipping.id, true
                - else
                  = check_box_tag "shipping[tw][]", shipping.id, false
                = shipping.description
            = builder.hidden_field :country_id, value: 1
        .info.tab-inner.tab-2.text-14.color-gray-333.lh-25
          = f.fields_for product.product_infos[1], :index => 1 do |builder|
            = builder.text_field :name
            = builder.text_field :weight
            = builder.text_field :material
            = builder.text_field :capacity
            = builder.label :quick_overview
            = builder.cktext_area :quick_overview, :class => "someclass", :ckeditor => {:language => "en"},value:  product.product_infos[1].quick_overview
            %br
            = builder.text_field :price
            = builder.text_field :special_price
            = builder.label :feature
            = builder.cktext_area :feature, :class => "someclass", :ckeditor => {:language => "en"},value:  product.product_infos[1].feature
            %br
            .offset2
              = builder.check_box :is_visible, :inline => true, label: "是否顯示"
            .offset2
              - @shipping_en.each do |shipping|
                - if product.product_infos[1].shipping.include? shipping.id.to_s
                  = check_box_tag "shipping[en][]", shipping.id, true
                - else
                  = check_box_tag "shipping[en][]", shipping.id, false
                = shipping.description
            = builder.hidden_field :country_id, value: 2
        .tab.tab-sel.clearfix.right.mg-b-25
          %a.tab-btn.active{"data-tab" => "tab-1"} TW產品描述
          / active on this one
          %a.tab-btn{"data-tab" => "tab-2"} EN產品描述
        = f.submit "確定"
        = link_to "返回", admin_products_path, class: "btn"
        = link_to "預覽", admin_products_path, class: "btn btn-info"
        - unless product.new_record?
          = link_to "刪除", admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"