/ breadcrumbs
%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-20.mg-t-30.sidebar-point
    / rwd width limited
    .rwd-width-limited
      / sidebar and con
      .clearfix.sidebar-con
        / sd con
        .clearfix.sc-con
          / 
          = form_for current_user do |f|
            .member-sec.relative.mg-b-30.grid-800px
              %h2.title-line.inlineblock.mg-b-30 #{t('account.edit')}
              .input-form
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.name_html')}
                  .input
                    = f.text_field :name, :class => "input-text mg-b-20", :placeholder => t('placeholder.name')
                    %p.note #{t("cart.user_name_note")}
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.email_html')}
                  .input
                    = f.text_field :email, :class => "input-text mg-b-20", :placeholder => t('placeholder.email')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.phone_html')}
                  .input
                    = f.text_field :phone, :class => "input-text mg-b-20", :placeholder => t('placeholder.phone')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.address_html')}
                  .input
                    = f.text_field :shipping_address, :class => "input-text mg-b-20", :placeholder => t('placeholder.address')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.zip_code_html')}
                  .input
                    = f.text_field :zip_code, :class => "input-text mg-b-20", :placeholder => t('placeholder.zip')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.city_html')}
                  .input
                    = f.text_field :city, :class => "input-text mg-b-20", :placeholder => t('placeholder.city')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.state_html')}
                  .input
                    = f.text_field :state, :class => "input-text mg-b-20", :placeholder => t('placeholder.state')
                    %p.note #{t("cart.state_note")}
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.country_html')}
                  .input
                    = f.text_field :country, :class => "input-text mg-b-20", :placeholder => t('placeholder.country')
                / one input
            / 
            / line
            .gray-h-line.mg-b-40
            / line
            / 
            .member-sec.relative.mg-b-30.grid-800px
              %h2.title-line.inlineblock.mg-b-30 #{t('account.change_password')}
              .input-form
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.password_html')}
                  .input
                    = f.password_field :password, :class => "input-text mg-b-20", :placeholder => t('placeholder.password')
                / one input
                / one input
                .one-input
                  .title
                    %p
                      #{t('account.password_confirm_html')}
                  .input
                    = f.password_field :password_confirmation, :class => "input-text mg-b-20", :placeholder => t('placeholder.password_confirm')
                / one input
                / one input
              .tright.mg-t-60
                .scart-submit
                  = button_tag(type: 'submit', class: "btn btn-l btn-blue inlineblock-imp", :hov => "0.75") do
                    #{t('account.confirm_edit')}
                    %i.fa.fa-chevron-right.mg-l-20{"aria-hidden" => "true"}
          / 
        / sd con
      / sidebar and con
    / rwd width limited
  / full width block
/ end main
