= link_to "訂閱email列表",admin_subscriptions_path, class: "btn btn-s btn-blue inlineblock-imp"
= link_to "export users",export_admin_users_path(format: "csv"), class: "btn btn-s btn-blue inlineblock-imp"
%table.admin-table
  %tr
    %th 編號
    %th 名字
    %th 聯絡電話
    %th Email
    %th 訂單紀錄
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.phone
      %td= user.email
      %td= user.orders.showed.size
      %td= link_to 'Show', admin_user_path(user)

%nav.page-menu.relative
  = will_paginate(@users, :renderer => 'BootstrapPaginationHelper::LinkRenderer')