= content_for :head do
  <meta name="description" content="#{@base_category.locale(params[:locale])}|#{@sub_category.locale(params[:locale]) if @sub_category}|#{t("product_description")}">
  <title>HANCHOR｜#{@base_category.locale(params[:locale])}</title>
  
/ visual
.pages-visual
  = image_tag "product-visual.jpg", :class => "v-centerimg"
/ -visual
/ breadcrumbs
%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-50
    / rwd width limited
    .rwd-width-limited.clearfix
      / product classify tab
      .product-classify-tab.product-classify-tab-fix.clearfix.mg-b-40
        - @base_categories.each_with_index do |category,i|
          = link_to_category products_index_path(category.name_en), category.locale(params[:locale]), i + 1
      / product classify tab
      .gray-h-line.mg-b-30
      .tab.clearfix.mg-b-30
        .rwd-tab-cate
          - if @sub_category.present?
            %span.left #{t("category.category")}#{@sub_category.locale(params[:locale])}
          - else
            %span.left #{t("category.category")}#{t("category.all")}
          %span.right
            %i.fa.fa-angle-down.mg-l-10{"aria-hidden" => "true"}
        .rwd-tab-show.rwd-tab-show-fix
          = link_to_contact products_index_path(@base_category.name_en), t("category.all")
          - @base_category.child_categories.visible.each do |c|
            = link_to_contact products_index_path(@base_category.name_en, sub: c.name_en), c.locale(params[:locale])
          
      .gray-h-line.mg-b-40
      .clearfix.flex-sec
        / index recommend item
        - @products.each do |product|
          =link_to products_show_path(product.product_categories[0].name_en,product), { :class => "index-recommend-item flex-4",:hov => "0.8"} do
            .pic
              =(image_tag product.thumb.pic_url, :itemprop => "image", :class => "v-centerimg")
            .info
              %h3.name.text-14.lh-24.color-gray-333.bold= product.name
              %p.price.text-13.lh-20.color-main-lb= showed_price(product.price)
      / page select menu
      %nav.page-menu.relative
        = will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer', :inner_window => 2, :outer_window => 0)
      / page select menu
    / rwd width limited
  / full width block
/ end main


