= content_for :head do
  <meta property="og:title"  content="#{@product.name}" />
  <meta property="og:image"  content="#{image_url(@product.product_pics.first.pic_url)}" />
  <meta property="og:url"  content="#{request.url.split('?').first}" />
  <meta property="og:description" content="#{strip_tags(@product.quick_overview)}" />
  <meta property="og:type" content="website" />
  <meta name="description" content="#{strip_tags(@product.quick_overview)}">
  <title>HANCHOR｜#{@product.name}</title>


/ breadcrumbs
%section.breadcrumbs
  / rwd width limited
  .rwd-width-limited.clearfix
    .text-13.color-gray-666.lh-18.breadcrumb
      = render_breadcrumbs :separator => ' / '
  / rwd width limited
/ breadcrumbs
/ start main
.wrapper
  / full width block
  %section.bg-w.pd-v-50
    / rwd width limited
    .rwd-width-limited.clearfix
      /
      .grid-2
        / gallery
        .product-slidr.relative
          %ul.bxslider
            - @product.product_pics.each do |pic|
              %li
                = image_tag(pic.pic_url)
          #bx-pager.clearfix
            - @product.product_pics.each_with_index do |pic, index|
              = link_to "", {"data-slide-index" => index} do
                = image_tag pic.pic_url
          / <p><span id="slider-prev"></span> | <span id="slider-next"></span></p>
        / gallery
      /
      /
      .grid-2.product-info
        %h2.name.mg-b-10= @product.name

        - unless @product.special_price
          %p.price.mg-b-20= showed_price(@product.price)
        - else
          %p.price.mg-b-20.text-del.inlineblock.color-gray-999= showed_price(@product.price)
          %p.price.mg-b-20.inlineblock.mg-l-10= showed_price(@product.special_price)

        .line.mg-b-25
        .form-section
          = form_for @item, url: add_item_to_cart_cart_index_path(product: @product) do |f|
            = hidden_field_tag :locale, params[:locale]
            .none{style: "display: none"}
              = f.select :product_color_id, @product_color_selector
            .mg-b-30
              / color
              .sel-color
                %h3= "#{t("product.color")} #{showed_color(@colors[0])}"
                - @colors.each_with_index do |color,index|
                  - if color.pic.blank?
                    %label.label-radio{value: "#{index}",:for => "v#{index}", :style => "background:#{color.rgb};", :title => color.color_en}
                      - if index == 0
                        %input{:checked => "checked", :name => "color", :type => "radio", :value => "#{index}", id: "v#{index}"  }/
                      - else
                        %input{:name => "color", :type => "radio", :value => "#{index}", id: "v#{index}"  }/
                  -else
                    %label.label-radio{value: "#{index}",:for => "v#{index}", :style => "background:url(#{color.pic_url(:thumb)}) !important;", :title => color.color_en}
                      - if index == 0
                        %input{:checked => "checked", :name => "color", :type => "radio", :value => "#{index}", id: "v#{index}"  }/
                      - else
                        %input{:name => "color", :type => "radio", :value => "#{index}", id: "v#{index}"  }/
                / %label.label-radio{:for => "v1", :style => "background:url(#{image_url('111111.jpg')}) !important;", :title => "迷彩"}
                /   %input#v1{:checked => "checked", :name => "color", :type => "radio", :value => "1"}/
                /   %p.sel-color-text 迷彩
                / %label.label-radio{:for => "v2", :style => "background:#1c1c1b;", :title => "黑"}
                /   %input#v2{:name => "color", :type => "radio", :value => "2"}/
                /   %p.sel-color-text 黑
                / %label.label-radio{:for => "v3", :style => "background:#d6b103;", :title => "黃"}
                /   %input#v3{:name => "color", :type => "radio", :value => "3"}/
                /   %p.sel-color-text 黃
                / %label.label-radio{:for => "v4", :style => "background:#e60419;", :title => "紅"}
                /   %input#v4{:name => "color", :type => "radio", :value => "4"}/
                /   %p.sel-color-text 紅
              / color
              - if @product_size_selector.present?
                .sel-size
                  %h3 #{t("product.size")}
                  = f.select :product_size_id, @product_size_selector, {}, { :class => 'nice-sel-wrap nice_select' }
                / = select_tag :quantity,[], style: "display: none"
                / %strong{id: "out_of_stock",style: "display: none"}
                /   = t('product.out_of_stock')
              / qty
              / qty
              .sel-qty
                %h3 #{t("product.quantity")}
                / = select_tag :quantity,[], style: "display: none"
                / %strong{id: "out_of_stock",style: "display: none"}
                /   = t('product.out_of_stock')
                / = select_tag :quantity,[1,2,3], { :class => 'nice-sel-wrap nice_select' }
                %h4.text-15.color-red.lh-25.bold.mg-b-7{id: "out_of_stock",style: "display: none"}
                  = t('product.out_of_stock')

            / btn
            .mg-b-25
              %button#add_cart.btn-l.btn-blue{:hov => "0.75"}
                #{t("product.add_to_cart")}
                %i.fa.fa-chevron-right.mg-l-20{"aria-hidden" => "true"}
            = f.submit t('product.add_to_cart'), style: "display: none"
            / btn
        .line.mg-b-25
        / spec / info
        .spec-sec
          .tab.tab-sel.clearfix.right.mg-b-25
            %a.tab-btn.active{"data-tab" => "tab-1"}= t("product.info")
            / active on this one
            %a.tab-btn{"data-tab" => "tab-2"}= t("product.spec")
          .tab-con
            .info.tab-inner.tab-1.active.text-14.color-gray-333.lh-25
              = @product.quick_overview.html_safe
            .spec.tab-inner.tab-2.text-14.color-gray-333.lh-25
              - if @product.weight.present?
                %span.bold.text-16.lh-30 #{t('product.weight')}
                %br/
                =@product.weight.html_safe
                %br/
              - if @product.capacity.present?
                %span.bold.text-16.lh-30 #{t('product.dimension')}
                %br/
                =@product.capacity.html_safe
                %br/
              - if @product.material.present?
                %span.bold.text-16.lh-30 #{t('product.material')}
                %br/
                =@product.material.html_safe
                %br/
        / spec / info
      /
    / rwd width limited
  / full width block
  / full width block
  %section.bg-w.pd-v-50.product-mid-bg
    / rwd width limited
    .rwd-width-limited.clearfix
      / spec / info
      .spec-sec.spec-info
        .tab.tab-sel.clearfix.tcenter.right.mg-b-25
          %a.tab-btn.active{"data-tab" => "tab-1"} #{t('product.description')}
          / active on this one
          %a.tab-btn{"data-tab" => "tab-2"} Reviews
        .tab-con
          .product-desc.tab-inner.tab-inner-article.tab-1.active
            = @product.feature.html_safe

          / render comment form
          = render partial: 'comment'
          / %p.pruduct-preview.tab-inner.tab-2
          /   測試測文拉拉字文字 。
      / spec / info
    / rwd width limited

  / full width block
  / full width block
  %section.product-bottom-bg.pd-v-50
    / rwd width limited
    .rwd-width-limited
      %h2.text-20.lh-30.color-white.bold.left.mg-b-30= t("product.interested")
      .clearfix.flex-sec
        - @related_products.each do |product|
          =link_to products_show_path(product.product_categories[0].name_en,product), { :class => "index-recommend-item flex-4",:hov => "0.8"} do
            .pic
              =(image_tag product.thumb.pic.thumb.url, :itemprop => "image", :class => "v-centerimg")
            .info
              %h3.name.text-14.lh-24.color-gray-333.bold= product.name
              %p.price.text-13.lh-20.color-main-lb= showed_price(product.price)
    / rwd width limited
  / full width block
/ end main

:javascript

  function initComment(){
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager',
      mode: 'fade',
      captions: true,
      speed: 300,
      controls:true
    });

    $('.star-sel').barrating({
      theme: 'fontawesome-stars',
      showSelectedRating: false
    });

    $('.star-sel-fixed').barrating({
      theme: 'fontawesome-stars',
      showSelectedRating: false,
      readonly: true
    });

    var currentRating = $('.star-sel-rdly').data('current-rating');

    $('.star-sel-rdly').barrating({
      theme: 'fontawesome-stars-o',
      showSelectedRating: false,
      initialRating: currentRating,
      readonly: true,
    });
  }

  $(function() {
    initComment();
  });

  //nextSelector: '#slider-next',prevSelector: '#slider-prev'

