.login-signup-container
  .login-signup
    %ul.layer-1-ul
      - if logged_in?
        %li.layer-1-li
          = link_to account_path, {class: "layer-1"} do
            %h2= t('my_account')
        %li.layer-1-li
          = link_to logout_path, {class: "layer-1"} do
            %h2= t('logout')
      - else
        %li.layer-1-li
          = link_to login_path, {class: "layer-1"} do
            %h2= t('sign_in')
        %li.layer-1-li
          = link_to register_path, {class: "layer-1"} do
            %h2= t('account.register')
        
      %li.layer-1-li
        = link_to cart_index_path, {class: "layer-1 scart"} do
          =image_tag("ico-scart.png")
          %h2= cart_item_size