%header
  .fixarea
    / header msg
    .h-msg
      .inner.clearfix
        - announcements = Announcement.order("sort desc").limit(1)
        - if announcements.present?
          = link_to announcements[0].message, announcements[0].link, {class: "h-msg-l", :voh => "0.4"}
        .h-msg-r.clearfix
          / 貨幣轉換
          .currency-sel.mg-r-15
            .currency-now
              #{current_currency.symbol}
              %i.fa.fa-caret-down.mg-l-10{"aria-hidden" => "true"}
            .drop
              - Currency.all.each do |c|
                = link_to_currency c
          / 貨幣轉換
          .lan-sel
            = link_to_language ["zh-TW","zh"], "中文"
            \/
            = link_to_language ["en"], "EN"
    / header msg
    / 
    .fxarea-rwd
      = link_to root_path, class: "logo", :hov => "0.75" do
        = image_tag("logo-h-w.png")
      = render 'layouts/messages'
      .menu-container
        .menu
          %ul.layer-1-ul
            / 
            .h-msg-r-mobile.clearfix
              / 貨幣轉換
              .currency-sel.mg-r-15
                .currency-now
                  #{current_currency.symbol}
                  %i.fa.fa-caret-down.mg-l-10{"aria-hidden" => "true"}
                .drop
                  - Currency.all.each do |c|
                    = link_to_currency c
              / 貨幣轉換
              .lan-sel
                = link_to_language ["zh-TW","zh"], "中文"
                \/
                = link_to_language ["en"], "EN"
                / 

            %li.layer-1-li
              = link_to aboutus_path, {:class => "layer-1 menu-line"} do
                %h2= t("aboutus")
            %li.layer-1-li
              .layer-1.menu-line
                %h2
                  產品
                  %i.fa.fa-angle-down.mg-l-10{"aria-hidden" => "true"}
              / Product dropdown
              %ul.layer-2-ul
                - @base_categories.each_with_index do |category,index|
                  %li.layer-2-li
                    = link_to products_index_path(category.name_en), class: "layer-3" do
                      %h4 #{category.name}
            %li.layer-1-li
              = link_to news_index_path(news_tag_id: 0), {:class => "layer-1 menu-line"} do
                %h2= t('news_events')
            %li.layer-1-li
              = link_to faq_path, {:class => "layer-1 menu-line"} do
                %h2 常見問題
