%header
  .fixarea
    / header msg
    .h-msg
      .inner.clearfix
        %a.h-msg-l{:href => "#", :voh => "0.4"} Garnet金標限定版早鳥預購
        .h-msg-r.clearfix
          / 貨幣轉換
          .currency-sel.mg-r-15
            .currency-now
              NTD
              %i.fa.fa-caret-down.mg-l-10{"aria-hidden" => "true"}
            .drop
              %a.active{:href => "#"} NTD
              %a{:href => "#"} USD
              %a{:href => "#"} JPY
          / 貨幣轉換
          .lan-sel
            %a.active{:href => "#"} 中文
            \/
            %a{:href => "#"} EN
    / header msg
    / 
    .fxarea-rwd
      %a.logo{:hov => "0.75", :href => "index.html"}
        = image_tag("logo-h-w")
      = render 'layouts/messages'
      .menu-container
        .menu
          %ul.layer-1-ul
            %li.layer-1-li
              = link_to aboutus_path, {:class => "layer-1 menu-line"} do
                %h2= t("aboutus")
            %li.layer-1-li
              %a.layer-1.menu-line{:href => "product.html"}
                %h2 產品
            %li.layer-1-li
              = link_to news_index_path(news_tag_id: 0), {:class => "layer-1 menu-line"} do
                %h2= t('news_events')
            %li.layer-1-li
              = link_to shopping_guide_path, {:class => "layer-1 menu-line"} do
                %h2= t('q_and_a')
